.home {
  max-width: 1400px;
  text-align: center;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home h1 {
  font-size: 4em;
}

.home p {
  font-size: 2em;
  margin-bottom: 1.5em;
}

.home .btn-contact,
.home .btn-resume {
  font-family: inherit;
  font-size: 1em;
  width: 12em;
  padding: 0.8rem 1.4rem;
  border: none;
  border-radius: 50em;
  background: none;
  color: rgb(235, 238, 245);
  font-weight: bolder;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.home .btn-contact {
  background: rgb(45, 200, 194);
  background: linear-gradient(
    120deg,
    rgba(45, 200, 194, 1) 15%,
    rgb(47, 13, 196) 100%
  );
  margin-right: 1em;
  transition: 150ms ease;
  padding: 1rem 1.6rem;
}

.home .btn-contact:hover {
  background: rgb(45, 200, 194);
  background: linear-gradient(
    120deg,
    rgba(45, 200, 194, 1) 15%,
    rgb(47, 13, 196) 100%
  );
  cursor: pointer;
  color: rgb(24, 30, 36);
  transition: 150ms ease;
}

.home .btn-resume {
  border: 3px solid rgb(235, 238, 245);
  color: rgb(235, 238, 245);
  transition: 200ms ease-in-out;
}

.home .btn-resume:hover {
  background-color: rgb(235, 238, 245);
  color: rgb(93, 95, 97);
  cursor: pointer;
  transition: 200ms ease-in-out;
}
