.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(11, 23, 34, 0.719);
}

.navbar .nav-content {
  display: flex;
  align-items: center;
  max-width: 1800px;
  margin: 0 auto;
  font-size: 1.5em;
}

.navbar a.brand {
  margin-right: auto;
}

.navbar .nav-items a.nav-item {
  margin: 1.5em;
  transition: 100ms ease;
}

.navbar a.brand:hover,
.navbar .nav-items a.nav-item:hover {
  color: rgba(45, 200, 194, 1);
  cursor: pointer;
  transition: 100ms ease;
}
