@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* base styles */
html,
body,
#root {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: rgb(30, 39, 48);
  color: rgb(235, 238, 245);
}

h1,
h2,
h3,
p {
  margin: 0;
}
